<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.sony.medicalbuddy" >

    <uses-sdk
        android:minSdkVersion="17"
        android:targetSdkVersion="23" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <android:uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <android:uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <android:uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".ParseKey"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".IntroActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".RegisterActivity"
            android:label="Register" >
        </activity>
        <activity
            android:name=".Login"
            android:label="Login" >
        </activity>
        <activity
            android:name=".Homepage"
            android:label="Homepage" >
        </activity>
        <activity
            android:name=".UserProfile"
            android:label="Profile" >
        </activity>
        <activity
            android:name=".UserProfile2"
            android:label="Profile" >
        </activity>
        <activity
            android:name=".Injury"
            android:label="Injury" >
        </activity>
        <activity
            android:name=".OtherInjury1"
            android:label="Injury" >
        </activity>
        <activity
            android:name=".OtherInjury2"
            android:label="Injury" >
        </activity>
        <activity android:name=".DispatchActivity" />
        <activity android:name=".DialogContacts" />
        <activity android:name=".HospitalNotified" />
        <activity
            android:name=".MainActivity"
            android:label="@string/title_activity_main" >
        </activity>
    </application>

</manifest>
